.sm{
    text-align: center;
    
}   
.vision{
    text-align: center;
}
.container{
    text-align: center;
}


.my-arrow-div {
    text-align: center;
}


.last-r {
    text-align: center;
}






